@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  src: url('../public/fonts/Vazir.ttf');
}

@layer base{
  body{
    direction: rtl;
    font-family: 'Vazir';
  }
}

@layer components{
  .btn{
    @apply text-white align-middle px-4 py-2 rounded-2xl w-16
  }

  .btn-1{
    @apply text-blue-300 align-middle bg-[#ebf4f7] px-4 py-2 rounded-sm shadow-lg whitespace-nowrap
  }

  .link{
    @apply block pb-4
  }
}

.header{
  background: url('../public/landing-top-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}